<!DOCTYPE html>
<html lang="en" ng-app="gitApp">
<head>
    <meta charset="UTF-8">
    <title>Git Stats</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./static/style.css">

    <script src="http://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    <script src="https://rawgit.com/benkeen/d3pie/master/d3pie/d3pie.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
    <script src="http://code.angularjs.org/1.5.3/angular-route.js"></script>
    <script src="http://spin.js.org/spin.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename = 'app.js') }}"></script>




</head>

<body ng-controller="gitController" id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#myPage">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#general">GENERAL</a></li>
            <li><a href="#stats">STATISTICS</a></li>
              <li><a href="#branches">BRANCHES</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="particles-js"></div>

    <div class="jumbotron text-center">

        <h1>Git Repository Report</h1>
        <p>for</p>
        <form ng-submit="getResults()" id="analyzeForm" role="form" >
            <input type="text" class="form-control" id="path" ng-model="path">
        </form>
    </div>
    <div ng-if="idle"  class="container-fluid slideanim" align="middle">
        <div id="arrow" class="row">
            <i class="fa fa-arrow-up fa-lg" aria-hidden="true"></i>
        </div>
        <div class="row">
            <h1>Insert the full path of a git repository stored in your computer above.</h1>
        </div>

    </div>
    <div ng-show="processing" id="spinner" class="container-fluid" align="middle">
    </div>

    <div ng-if="results" align="middle">
       <div id="general" class="container-fluid slideanim" align="middle">
           <h1>General</h1>
           <div class="row">
               <div class="col-md-6">
                   <div id="p1" class="panel panel-default bgdark">
                       <div class="stat">
                           //result.file_count//
                       </div>
                       Files
                   </div>
               </div>
               <div class="col-md-6">
                   <div id="p2" class="panel panel-default bgteal">
                       <div class="stat">
                           //result.line_count_total//
                       </div>
                       Lines
                   </div>
               </div>
           </div>
           <div class="row">
               <div class="col-md-6">
                   <div id="p4" class="panel panel-default bgdarkbrown">
                       <div class="stat">
                           //result.com_stats.commits//
                       </div>
                       Commits
                   </div>
               </div>
               <div class="col-md-6">
                   <div id="p3" class="panel panel-default bglightteal">
                       <div class="stat">
                           //result.com_stats.committers//
                       </div>
                       Authors
                   </div>
               </div>
           </div>
           <div class="row">
               <div class="col-md-4">
                   <div id="p5" class="panel panel-default bgbrown">
                       <div class="stat">
                           //result.br_stats.tags//
                       </div>
                       Tags Count
                   </div>
               </div>
               <div class="col-md-4">
                   <div id="p6" class="panel panel-default bgtan">
                       <div class="stat">
                           //result.br_stats.localCount//
                       </div>
                       Local Branches
                   </div>
               </div>
               <div class="col-md-4">
                   <div i class="panel panel-default bgtan">
                       <div class="stat">
                           //result.br_stats.remoteCount//
                       </div>
                       Remote Branches
                   </div>
               </div>
           </div>
        </div>
        <div id="stats" class="container-fluid slideanim" align="middle">
            <div class="row">
                <h1>Statistics</h1>
            </div>
            <div class="row">
                <h2>Percentage of commits per author</h2>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="header bgdarkbrown">Author</th>
                        <th class="header bgdarkbrown">% of commits</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key, value) in result.com_stats.com_per_author">
                        <td>//key//</td>
                        <td>//value//</td>
                    </tr>
                    </tbody>
                </table>
                <div id="pieChart">
                </div>
            </div>
            <div class="row">
                <h2>Average commits</h2>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="header bgbrown">Author</th>
                        <th class="header bgbrown">per day</th>
                        <th class="header bgbrown">per week</th>
                        <th class="header bgbrown">per month</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key, value) in result.br_stats.com_rates">
                        <td>//key//</td>
                        <td>//value[0]//</td>
                        <td>//value[1]//</td>
                        <td>//value[2]//</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <h2>Number of insertions, deletions and updates per author</h2>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="header bgtan">Author</th>
                        <th class="header bgtan">Insertions</th>
                        <th class="header bgtan">Deletions</th>
                        <th class="header bgtan">Updates</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key, value) in result.com_stats.adds">
                        <td>//key//</td>
                        <td>//result.com_stats.adds[key]// (+)</td>
                        <td>//result.com_stats.dels[key]// (-)</td>
                        <td>//result.com_stats.changes[key]//</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <h2> Number of commits per branch </h2>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="header bgdark">Local Branch</th>
                        <th class="header bgdark">Number of commits</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key, value) in result.br_stats.com_branchL">
                        <td>//key//</td>
                        <td>//value//</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <h2>Percentage of commits per branch</h2>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="header bgteal">Branch</th>
                        <th class="header bgteal">Percentage of commits</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key, value) in result.br_stats.branchCommits">
                        <td>//key//</td>
                        <td>//value// %</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="chartdiv"></div>
            <div class="row">
                <h2>Percentage of commits per author per branch</h2>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="header bglightteal">Local Branch</th>
                        <th class="header bglightteal">Author</th>
                        <th class="header bglightteal">% of commits</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key, value) in result.br_stats.com_br_authL">
                        <td>//key//</td>
                        <td ng-repeat="commiter in value">//commiter//</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="branches" class="container-fluid slideanim" align="middle">
            <div class="row">
                <h2>Local Branches</h2>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="header bglightteal">Branch</th>
                        <th class="header bglightteal">Date Created</th>
                        <th class="header bglightteal">Date Modified</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="i in result.br_stats.localB">
                        <td>//i//</td>
                        <td>//result.br_stats.branch_dates_local.i[0]//</td>
                        <td>//result.br_stats.branch_dates_local.i[1]//</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer class="text-center footer">
        <a href="#myPage" title="To Top"><i class="fa fa-arrow-up" aria-hidden="true" style="font-size:40px; color:#2a313d"></i>
        </a>
    </footer>


</body>

<script type="text/javascript" src="{{ url_for('static', filename = 'particles.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'spinner.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'scroller.js') }}"></script>
</html>