<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Git Stats</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./static/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="http://spin.js.org/spin.min.js"></script>



</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#myPage">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#general">GENERAL</a></li>
            <li><a href="#stats">STATISTICS</a></li>
              <li><a href="#branches">BRANCHES</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="particles-js"></div>

    <div class="jumbotron text-center">

        <h1>Git Repository Report</h1>
        <p>for</p>
        <form id="analyzeForm" role="form">
            <input type="text" class="form-control" id="path">
        </form>
    </div>
    <div id="general" class="container-fluid slideanim" align="middle">
        <div id="arrow" class="row">
            <i class="fa fa-arrow-up fa-lg" aria-hidden="true"></i>
        </div>
        <div class="row">
            <h1>Insert the full path of a git repository stored in your computer above.</h1>
        </div>

    </div>
    <div id="spinner" class="container-fluid" align="middle">
    </div>

    <div class="container-fluid" align="middle">
        <p>test</p>
       {{my_string}}
    </div>

</body>

<script type="text/javascript" src="{{ url_for('static', filename = 'particles.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'spinner.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'app.js') }}"></script>


</html>